<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rossisport</property>
    <property name="hibernate.connection.username">usuario</property>
    <property name="hibernate.connection.password">data</property>
    
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <mapping class="persistencia.Meses" />
    <mapping class="persistencia.Grupos" />
    <mapping class="persistencia.Usuarios" />
    <mapping class="persistencia.Permisos" />
    <mapping class="persistencia.GrupoPermiso" />
    <mapping class="persistencia.Logs" />
  </session-factory>
</hibernate-configuration>
